/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/uploads/*
!/public/uploads/placeholder.png
!/public/uploads/example-female.jpeg
!/public/uploads/example-male.jpeg
!/public/uploads/example-gallery-1.jpeg
!/public/uploads/example-gallery-2.jpeg
!/public/uploads/example-gallery-3.jpeg
!/public/uploads/example-gallery-4.jpeg
!/public/uploads/example-gallery-5.jpeg
!/public/uploads/example-gallery-6.jpeg
!/public/uploads/example-gallery-7.jpeg
!/public/uploads/example-gallery-8.jpeg
!/public/uploads/example-song.mp3
!/public/uploads/b1-template.jpeg
!/public/uploads/b2-template.jpeg
!/public/uploads/b3-template.jpeg
!/public/uploads/b4-template.jpeg
